<!DOCTYPE html>
<html>
	<head>
		<title>Erik's Puns: {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Erik's Pun,</h1>
				<p>We never said it was going to be a good Juan.</p>
				<a href="{{ url }}" class="btn btn-primary">{{ url_link_text }}&raquo;</a>
			</div>

			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li>
								<a href="/" class="brand">Erik's Puns</a>
							</li>
							<li><a href="post">Post a pun</a></li>
							<li class="active"><a href="admin_page_users" >Admin page: Users</a></li>
							<li><a href="admin_page_puns">Admin page: Puns</a></li>
							<li><a href="add_user">Validate Authorization</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="alert alert-danger">
				<h3>Delete Authorized User:</h3>
				<p>
					The user will need to validate themselves again before they can re-post puns!
				</p>
			</div>
			
			{% for auser in ausers %}
				<div>
					<form method="post" action="admin_page_users">
						<input type="hidden" name="email" value="{{ auser.email }}">
						<div><h3>{{ auser.email }}</h3></div>
						<div><input type="submit" value="Remove" class="btn btn-danger"></div>
					</form>
					<hr />
				</div>
			{% endfor %}

		


		</div>
	</body>

</html>